<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowchart Generator</title>
    <link rel="stylesheet" href="../static/styles_flow.css">
</head>

<body>
    <header>
        <div class="container">
            <h1>Flowchart Generator</h1>
            <p>Visual representation and app to create flow charts.</p>
        </div>
    </header>

    <section id="project-overview">
        <div class="container">
            <h2>Overview</h2>
            <p>This project is a Java-based Flowchart UI application 
                built using the Swing GUI library. The application allows 
                users to create, connect, and manipulate tasks represented
                 as boxes in a flowchart. Users can establish connections 
                 between tasks, dragging connectors with control points to 
                 visualize flow between tasks. The UI supports dynamic resizing
                  of task boxes based on label length and introduces customizable
                   shapes for tasks, providing a versatile and interactive flowcharting 
                   experience.</p>
        </div>
    </section>

    <section id="key-features">
        <div class="container">
            <h2>Key Features</h2>
            <ul>
                <li><strong>Task Creation and Manipulation:</strong> Create resizable tasks with customizable shapes and labels.</li>
                <li><strong>Connection Establishment:</strong> Establish connections between tasks using arrows with adjustable control points.</li>
                <li><strong>Dynamic Textbox Sizing:</strong> Task box sizes adapt to label lengths for an aesthetically pleasing layout.</li>
                <li><strong>Customizable Shapes:</strong> Choose from various shapes (e.g., rectangles, ellipses) for individual tasks.</li>
              </ul>
        </div>
    </section>

    <section id="screenshots">
        <div class="container">
            <h2>Screenshots</h2>
            <div class="screenshot">
                <img src="../img/finance_flow.png" alt="Screenshot 1">
                <p>Flowchart for my Finance_Tracker Project</p>
            </div>
        </div>
    </section>


    <section id="github">
        <div class="container">
            <h2>GitHub Repository</h2>
            <a href="https://github.com/SUJP123/Flow_Chart_Creator" target="_blank" rel="noopener noreferrer">
                <img src="../img/Github_logo.png" alt="GitHub Logo">
                GitHub Repository
            </a>
        </div>
    </section>

    <a href="home.html" class="back-button">Go Back to Home</a>

    <footer>
        <div class="container">
            <p>&copy; 2024 Your Name. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>
